@model TheBugTracker.Models.ViewModels.CreateNotificationViewModel


@{
    ViewData["Title"] = "Create";
}

<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create Project</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="Create" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Notification.Title" class="control-label"></label>
                                <input asp-for="Notification.Title" class="form-control" />
                                <span asp-validation-for="Notification.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notification.Message" class="control-label"></label>
                                <textarea asp-for="Notification.Message" class="form-control" id="message"></textarea>
                                <span asp-validation-for="Notification.Message" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notification.RecipientId" class="control-label"></label>
                                <select asp-for="Notification.RecipientId" class="form-control" asp-items="@Model?.RecipientList"></select>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary mt-2" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <a asp-action="Inbox">Back to Inbox</a>
                    </div>
                </div>
            </div>

        </div>
     </div>
</section>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#message').summernote({
            placeholder: "Project Description"
        });
    </script>

    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
}
