@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="pb-2">Manage your account</h1>

<div class="card p-2 pb-4">
    <h2 class="m-3">Change your account settings</h2>
    <hr />
    <div class="row ">
        <div class="col-md-3 p-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 ps-5 d-flex flex-column">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>

}
