@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a asp-action="Index" asp-controller="Home" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="/img/icons/header_image.png" width="180" alt="">
                            </a>
                            <p class="text-center">Splat your bugs!</p>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <h2>Create a new account.</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-check">
                                    <label asp-for="Input.FirstName"></label>
                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <label asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <label asp-for="Input.CompanyName"></label>
                                    <input asp-for="Input.CompanyName" class="form-control" autocomplete="companyname" aria-required="true" />
                                    <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                                </div>

                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/assets/js/dashboard.js"></script>
}
