@model TheBugTracker.Models.Company
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Models.Enums
@using TheBugTracker.Services.Interfaces
@inject IBTRolesService RolesService
@inject UserManager<BTUser> UserManager

@{
    ViewData["Title"] = "Details";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@if (await RolesService.IsUserInRoleAsync(btUser, nameof(Roles.Admin)))
{
    <a asp-action="ManageUserRoles" asp-controller="UserRoles" class="btn btn-primary btn-sm">Manage User Roles</a>
<a asp-action="Create" asp-controller="Invites" class="btn btn-primary btn-sm">Invite New Member</a>
}

@section Scripts {
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
}