@model TheBugTracker.Models.ViewModels.AddProjectWithPMViewModel
@using TheBugTracker.Models.Enums

@{
    ViewData["Title"] = "Edit";
}



<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Project</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Project.Id" />
                            <input type="hidden" asp-for="Project.CompanyId" />
                            <input type="hidden" asp-for="Project.FileName" />
                            <input type="hidden" asp-for="Project.FileData" />
                            <input type="hidden" asp-for="Project.FileContentType" />
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="Project.Name" class="control-label"></label>
                                        <input asp-for="Project.Name" class="form-control" />
                                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="Project.Description" class="control-label"></label>
                                        <textarea id="test" asp-for="Project.Description" class="form-control"></textarea>
                                        <span asp-validation-for="Project.Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label class="control-label">Project Image</label>
                                        <input asp-for="Project.ImageFormFile" class="form-control" type="file" action=".png,.jpg,.jpeg,.gif"
                                               onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                                        <span asp-validation-for="Project.ImageFormFile" class="text-danger"></span>
                                    </div>
                                    <label>Image Preview</label>
                                    @if (Model.Project?.FileData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.FileData))" />
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="~/img/no_img.png" />
                                    }
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="Project.StartDate" class="control-label"></label>
                                        <input asp-for="Project.StartDate" class="form-control" />
                                        <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="Project.EndDate" class="control-label"></label>
                                        <input asp-for="Project.EndDate" class="form-control" />
                                        <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group mb-1">
                                        <label class="control-label">Choose a Priority</label>
                                        <select asp-for="Project.ProjectPriorityId" class="form-select form-control" asp-items="@Model.PriorityList"></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    @if (User.IsInRole(Roles.Admin.ToString()))
                                    {
                                        <div class="form-group mb-1">
                                            <label class="control-label">Project Manager</label>
                                            <select asp-for="PmId" class="form-select form-control mb-2" asp-items="@Model.PMList">
                                                <option></option>
                                            </select>
                                        </div>
                                    }

                                </div>

                                <div class="col-12 d-flex justify-content-end form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#test').summernote({
            placeholder: "Project Description"
        });
    </script>

    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
   

}
