html {
    font-size: 14px;
    background: #f2f7ff;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}



#mainnav {
    background: #f2f7ff;
}



td.test {
    max-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.test:hover {
    white-space:normal;
    overflow: visible;
}