@model TheBugTracker.Models.Invite

@{
    ViewData["Title"] = "Create";
}


<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create Invite</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CompanyId" value=@ViewData["CompanyId"] />
                            <input type="hidden" asp-for="InvitorId" value=@ViewData["InvitorId"] />
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="ProjectId" class="control-label"></label>
                                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="InviteeEmail" class="control-label"></label>
                                        <input asp-for="InviteeEmail" class="form-control" />
                                        <span asp-validation-for="InviteeEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="InviteeFirstName" class="control-label"></label>
                                        <input asp-for="InviteeFirstName" class="form-control" />
                                        <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group mb-1">
                                        <label asp-for="InviteeLastName" class="control-label"></label>
                                        <input asp-for="InviteeLastName" class="form-control" />
                                        <span asp-validation-for="InviteeLastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-end form-group mt-2">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
   
}
